{
  "env": {
    "test": {
      "presets": [
        "@babel/preset-flow",
        "@babel/preset-react",
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            },
            "useBuiltIns": "entry"
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "syntax-dynamic-import",
        [
          "@babel/plugin-transform-runtime",
          {
            "helpers": true
          }
        ]
      ]
    },
    "development": {
      "presets": [
        "@babel/preset-flow",
        "@babel/preset-react",
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": ["last 1 Chrome versions", "last 1 Firefox versions"]
            },
            "useBuiltIns": "entry",
            "modules": false,
            "debug": true
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "syntax-dynamic-import",
        "react-hot-loader/babel",
        [
          "@babel/plugin-transform-runtime",
          {
            "helpers": true
          }
        ]
      ]
    },
    "production": {
      "presets": [
        "@babel/preset-flow",
        "@babel/preset-react",
        [
          "@babel/preset-env",
          {
            "targets": {
              "browsers": [
                "last 2 Chrome versions",
                "last 2 Firefox versions",
                "last 2 Edge versions",
                "last 2 Safari versions",
                "last 2 Android versions",
                "last 2 ChromeAndroid versions"
              ]
            },
            "modules": false,
            "useBuiltIns": "entry"
          }
        ]
      ],

      "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "syntax-dynamic-import",
        [
          "@babel/plugin-transform-runtime",
          {
            "helpers": true
          }
        ]
      ]
    }
  }
}
